---
import "@/styles/global.css";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import Page from "@/components/layout/Page.astro";

interface Props {
  description?: string;
  full?: boolean;
  id?: string;
  title: string;
}

const {
  description = "Professional Lawn Care & Landscaping Services",
  full = false,
  id,
  title,
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body id={id}>
    <div id="app">
      <Header />

      <Page full={full}>
        <slot />
      </Page>

      <Footer />
    </div>
  </body>
</html>
